<div id="m1" class="modal">
  <!-- Modal content -->
  <div class="modal-content animate">
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container1">
          <div class="form">
            <h2>Login Form</h2>
            <form>
              <div class="inputBox">
                <input type="text" id="login_email_id" placeholder="Email" />
              </div>
              <p class="error" id="login_email_error"></p>
              <div class="inputBox">
                <input
                  type="password"
                  id="login_password"
                  placeholder="Password"
                />
              </div>
              <p class="error" id="login_pass_error"></p>
              <div class="inputBox">
                <input id="login" class="popup_btn" value="Login" />
                <div class="loader" id="load1">
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
              </div>
              <p class="error" id="login_credentials_error"></p>
              <p class="forget">Forget password ? <a href="#">Click here</a></p>
              <p class="forget">
                Don't have an account ? <a id="signup_on_login">Sign up</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="m2" class="modal">
  <!-- Modal content -->
  <div class="modal-content animate">
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container1">
          <div class="form">
            <h2>Signup Form</h2>
            <form>
              <div class="inputBox">
                <input type="text" id="signup_name" placeholder="Name" />
              </div>
              <p class="error" id="signup_name_error"></p>
              <div class="inputBox">
                <input type="email" id="signup_email" placeholder="Email" />
              </div>
              <p class="error" id="signup_email_error"></p>
              <div class="inputBox">
                <input
                  type="password"
                  id="signup_pass"
                  placeholder="Password"
                />
              </div>
              <p class="error" id="signup_pass_error"></p>
              <div class="inputBox">
                <input id="signup" class="popup_btn" value="Signup" />
                <div class="loader" id="load2" style="top: 70%">
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
              </div>
              <p class="error" id="signup_credentials_error"></p>
              <p class="forget">
                Already have an account ? <a id="login_on_signup">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="m3" class="modal">
  <!-- Modal content -->
  <div class="modal-content animate">
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box">
        <div class="square" style="--i: 0"></div>
        <div class="square" style="--i: 1"></div>
        <div class="square" style="--i: 2"></div>
        <div class="square" style="--i: 3"></div>
        <div class="square" style="--i: 4"></div>
        <div class="container1">
          <div class="form">
            <h2>Verify</h2>
            <form style="margin-top: 100px">
              <p>
                A verification mail has been sent to your Email Id, Check Email
                to verify Your Account
              </p>
              <p>Verification Link will expire in 10min</p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
